{% extends "layout.html" %}

{% block title %}
   Home
{% endblock %}

{% block main %}
    <div class="summary">
        <p>
            C$50 BillBuddy is designed to simplify the process of splitting expenses among groups of people, such as friends, roommates, or travellers. Its primary goal is to make it easy to share costs fairly and transparently, reducing the stress and complexity often associated with dividing bills.
        </p>
        <p>
            This was CS50x!
        </p>
    </div>
{% endblock %}
